.App {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; */
  /* text-align: center; */
  background: #cfdbdb;
}

.navLink {
  background-color: #fafd7c99;
  padding: 2%;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.2em;
  color: "#526deFF";
  font-weight: 600;
}

.navLink:visited {
  text-decoration: none;
}

.navLink:active {
  color: white;
}

.navLink:hover {
  background: rgb(230, 184, 70);
  border: 1px solid black;
  transition: border-color 0.3s ease;
}
